@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-rootBox {
  margin: 0 auto;
}

.cl-formButtonPrimary {
  background-color: #611bbd;
}
 
.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #49247a;
}

div:has(img) {
  position: relative;;
}